name: 'websafe_svg'
description: 'Simple abstraction to be able to use SVGs in Android, iOS, and Web.'
version: '3.0.1+1'
homepage: 'https://github.com/peiffer-innovations/websafe_svg'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  convert: '^3.1.1'
  flutter:
    sdk: 'flutter'
  flutter_svg: '^2.0.9'
  http: '^1.1.0'
  logging: '^1.2.0'
  meta: '^1.10.0'

dev_dependencies:
  flutter_lints: '^3.0.1'
  flutter_test:
    sdk: 'flutter'

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'uuid'
  - 'vector_math'
  - 'webdriver'
